<script lang="ts" setup>
defineEmits(['update:modelValue'])
defineProps(['modelValue'])
</script>

<template>
  <textarea @input="
    $emit('update:modelValue', (<HTMLTextAreaElement>$event.target).value)
  " :value="modelValue" class="font-mono border-none focus:outline-none px-1" />
</template>
