<script lang="ts" setup>
defineEmits(['go-home'])
</script>

<template>
  <header class="flex px-4 py-2 bg-dark-800">
    <button @click="$emit('go-home')" class="text-3xl text-pink-100">
      edeet
    </button>
  </header>
</template>
