<script lang="ts" setup>
import { computed } from 'vue'

const props = defineProps<{
  markdown: string
  show: boolean
  frontmatter: undefined | Record<string, unknown>
}>()

const title = computed(() =>
  props.frontmatter && typeof props.frontmatter.title === 'string'
    ? props.frontmatter.title
    : null
)
</script>

<template>
  <div v-show="show" class="w-prose">
    <div v-if="frontmatter" />
    <article
      class="prose max-w-prose mx-auto"
      v-html="title ? `<h1>${title}</h1>${props.markdown}` : props.markdown"
    ></article>
  </div>
</template>
