<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref, toRef } from 'vue'
import CodeEditor from './components/CodeEditor.vue'
import HeaderVue from './components/Header.vue'
import PreviewPane from './components/PreviewPane.vue'
import { useMarkdown, Mode } from './lib'
import Files from './files'

const api = new Files()
const text = ref('')
const state = reactive({
  showPreview: true,
  mode: Mode.INSERT,
  source: text,
  markdown: computed(() => useMarkdown(text.value))
})

async function onKey(event: KeyboardEvent) {
  const noMods =
    !event.ctrlKey && !event.shiftKey && !event.altKey && !event.metaKey
  if (state.mode === Mode.NORMAL) {
    event.preventDefault()
    state.mode = Mode.INSERT
    if (!noMods) return
    switch (event.key) {
      case 'r':
        if ('reload' in api) {
          try {
            const files = await api.reload()
            const s = await files[0].text()
            text.value = s
            break
          } catch (err) {
            console.error(err)
          }
        }
      case 'o':
        api.getFiles().then(files => (<File>files).text()).then(s => text.value = s)
        break
      case 'p':
        state.showPreview = !state.showPreview
        break
      case 'c':
        text.value = ''
        break
      case 's':
        if ('saveToHandle' in api) {
          try {
            await api.saveToHandle(text.value)
            break
          } catch (err) { console.error(err) }
        }
        api.save(text.value)
        break
    }
  } else if (event.key == 'Escape' && noMods) {
    state.mode = Mode.NORMAL
  }
}

onMounted(() => window.addEventListener('keydown', onKey))
onUnmounted(() => window.removeEventListener('keydown', onKey))
</script>

<template>
  <HeaderVue />
  <main class="overflow-hidden flex-1 flex gap-x-2 py-2">
    <CodeEditor class="w-prose" :class="!state.showPreview ? 'flex-1' : 'flex-initial'" v-model="text" />
    <PreviewPane class="flex-initial overflow-auto" :markdown="state.markdown.html" :show="state.showPreview"
      :frontmatter="state.markdown.frontmatter" />
  </main>
  <footer class="flex">
    <span>---{{ state.mode }}---</span>
  </footer>
</template>
